<!DOCTYPE html>
<html>
  <head>
    {{> favicon_info }}
    {{> css }}
    <style>
      .spottext {
        width: 500px;
      }
      .spottextandmap {
        justify-content: space-between;
      }
    </style>
    <title>go here - {{cityname}}</title>
  </head>
<body>
  {{> subpage_header}}
  <div id=nontitle>
      <div class="together left" id="cityandsectionguide">
         <h1 class="cityname">{{cityname}}</h1>
         <div class="together left sectionguide">
            <a href="#spots">spots</a>
            |
            <a href="#guide">guide</a>
            |
            <a href="#eating">eating</a>
            |
            <a href="#thingstodo">things to do</a>
         </div>
      </div>
      <br>
      <p>
        {{intro}}
      </p>
      <a id=spots>
        <h1 class="spotstitle">
          Spots
        </h1>
      </a>
      {{#each spotcats }}
      <div class="spot">
         <h2 class=spottypetitle>
            {{ this.title}}
         </h2>
         {{ this.description }}
         {{#each this.spots}}
         <div class="singlespot">
            <h3>{{ this.name }}</h3>
            <div class="togethertop spottextandmap">
              <div class="spottext">
               {{#each this.text }}
                <p style="text-indent: 20pt">{{this}}</p>
               {{/each}}
              </div>
              <div class="togethertop spotmapholder">
                <img src="/resources/images/map.png" class="spotmap">
              </div>
            </div>
         </div>
        {{/each }}
      </div>
      {{/each }}
      <a id=guide>
        <h1 class="guidetitle">
          Guide
        </h1>
      </a>
      <a id=eating>
        <h1 class="eatingtitle">
          Eating
        </h1>
        <div>
          <table id=eatingtable>
            {{#each eating }}
            <tr class=eatingtablerow>
                <div class="singlerec">
                  <td class=eatingtd>
                    {{this.name}}
                  </td>
                  <td class=eatingtd>
                    {{this.category}}
                  </td>
                  <td class="eatingtd rd">
                    {{this.description}}
                  </td>
                  <td class=eatingtd>
                    {{this.area}}
                  </td>
                  <td class=eatingtd>
                    {{#each this.urls }}
                      <a href="{{this.url}}" target="_blank">{{this.show}}</a>
                    {{/each}}
                  </td>
                </div>
            </tr>
            {{/each}}
          </table>
        </div>
      </a>
      <a id=thingstodo>
        <h1 class="thingstodotitle">
          Things To Do
        </h1>
          <div class="together thingstodoguide"><p>
            {{#each things}}
              <a href="#{{this.title}}">{{this.title}}</a>
            {{/each}}
          </div>
         <div id="thingsbox">
           {{#each things}}
              <div class="thing">
                <p class=thingtitle><a id="{{this.title}}">{{this.title}}</a></p>
                {{#each this.paragraphs}}
                  <p style="text-indent: 20px">{{this}}</p>
                {{/each}}
                <ul>
                  {{#each this.nicelinks}}
                  <li>
                    <div style="display: flex;">
                      <div>
                        {{this.description}}
                      </div>
                      <div class=thinglink>
                        <a href="{{this.link.url}}" target="_blank">{{this.link.show}}</a>
                      </div>
                    </div>
                  </li>
                  {{/each}}
                </ul>
              </div>
           {{/each}}
         </div>
      </a>
   </div>
</body>
</html>